.formstyle{
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 10px;
}
.form-control{
  max-width: 300px !important;
}

input[type="checkbox"]{
    max-width: 50px !important;
    display: inline-block !important;
    vertical-align: middle;
    margin:10px 0;
  }
  button{
      width: 150px;
  }